@model Inquiry__Management__System.Models.Company_Information

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Company Information Details</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Company Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Conctacts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Conctacts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Company_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
